* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(240, 240, 240);
    font-family: 'Roboto', sans-serif;
}

header {
    height: 90px;
    padding: 20px 20px;
    background-color: white;
    font-size: 30px;
    font-weight: 900;
}

.textheader {
    vertical-align: top;
}

main {
    width: 900px;
    margin: 40px auto;
}

.navcontainer {
    padding: 15px 50px;
    background-color: white;
    border-radius: 5px 5px 0 0;
}

.button_add {
    color: rgb(246, 248, 249);
    background-color: rgb(71, 173, 241);
    padding: 7px;
    border-radius: 5px;
    border: none;
}

.button_section {
    color: rgb(208, 213, 217);
    background-color:white;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid rgb(208, 213, 217);
}

.sectioncontainer {
    margin-top: 2px;
    background-color: white;
    padding: 15px 50px;
    border-radius: 0 0 5px 5px;
    font-weight:500;
}

.list_title {
    list-style: none;
    margin-top: 20px;
}

li {
    margin-top: 10px;
}

.titletask {
    font-weight: 900;
    font-size: x-large;
}

.check {
    border: 1px solid green;
    color: green; 
}

.cross {
    border: 1px solid red;
    color: red;
}

.check, .cross{
    display: inline-block;  /*PER SPAZIARE VERTICALMENTE GLI SPAN*/
    padding: 2px 4px;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 5px;
    font-size: 10px;
    font-weight: bolder;
}

.tabs {
    color: white;
    font-size: 12px;
    border-radius: 10px;
    padding: 7px;
}

.color_editorial {
    background-color:  rgb(71, 173, 241);
}

.color_goals {
    background-color: rgb(156, 114, 228);
}

.color_recruiting {
    background-color: rgb(100, 192, 169);
}

.color_mobile {
    background-color: rgb(241, 154, 43);
   }

.color_website {
    background-color: rgb(216, 99, 161);
}

.color_sales {
    background-color: rgb(176, 201, 38);
}

