* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(240, 240, 240);
}

header {
    padding: 10px 20px;
    background-color: white;
}

span {
    font-size: xx-large;
}

main {
    width: 900px;
    margin: 40px auto;
}

.navcontainer {
    padding: 15px 50px;
    background-color: white;
    border-radius: 5px 5px 0 0;
}

.button_task {
    color: white;
    background-color: rgb(111, 111, 145);
    padding: 5px;
    border-radius: 5px;
}

.button_section {
    color: white;
    background-color: rgb(111, 111, 145);
    padding: 5px;
    border-radius: 5px;
}

.sectioncontainer {
    margin-top: 2px;
    background-color: white;
    padding: 15px 50px;
    border-radius: 0 0 5px 5px;
}

.check {
    border: 1px solid green;
    padding: 1px;
    color: green;
    border-radius: 50%;
    font-size: 8px;
    font-weight: bolder;
}

.cross {
    border: 1px solid rgb(255, 0, 0);
    padding: 1px;
    color: rgb(255, 0, 0);
    border-radius: 50%;
    font-size: 8px;
    font-weight: bolder;
}

ul {
    list-style: none;
    margin-top: 20px;
}

li {
    margin-top: 10px;
}

.titletask {
    font-weight: bolder;
}

.editorial {
    color: white;
    font-size: 8px;
    background-color: rgb(94, 236, 255);
    border-radius: 10px;
    padding: 5px;
}

.goals {
    color: white;
    font-size: 8px;
    background-color: rgb(90, 65, 230);
    border-radius: 10px;
    padding: 5px;
}

.recruiting {
    color: white;
    font-size: 8px;
    background-color: rgb(41, 139, 54);
    border-radius: 10px;
    padding: 5px;
}